absl-py
appnope
argon2-cffi
async-generator
attrs
backcall
bleach
cachetools
certifi
cffi
chardet
cycler
decorator
defusedxml
entrypoints
google-auth
google-auth-oauthlib
grpcio
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
rsa
scipy
Send2Trash
six
tensorboard
tensorboard-plugin-wit
terminado
testpath
torch
torchvision
tornado
traitlets
typing-extensions
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
boxsdk